
{nav {
	display: flex;
	justify-content: center;
  font-family: "Roboto Slab", serif;
  font-size: 11;
  font-weight: <200>;
  font-style: normal;
}
{nav a {
		font-family: "Roboto Slab", serif;
		text-align: center;
		text-decoration: none;
		justify-content: center;
}
{body {
	 scrollbar-color: green;
  scrollbar-width: thin;
	background: skyblue;
	background-color: skyblue;
	display: flex;
	font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;font-size: 14;
}
{body
	display: flex;
	justify-content: center;
	margin-left: 1rem;
	margin-right: 1rem;
}
{.lead-image {
	display: flex;
	justify-content: center;

}

.lead-image {
	margin: 0 auto;
	object-fit: contain;
	max-width: 100%;
}

h1 {display: flex;
	justify-content: center;
	text-transform: uppercase;
	background-color: skyblue;
background: skyblue;}
  {font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 25;
}
 {title {
	display: flex;
	justify-content: center;
	background: palevioletred;
	background-color: palevioletred;
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.blue {
	padding: 1rem;
	min-width: 50px;
	min-height: 50px;
	background: blueviolet;
	border: 5px solid darkred;
}

.red {
	padding: 1rem;
	min-width: 50px;
	min-height: 50px;
	background: darkcyan;
	border: 5px dotted darkgreen;
}

.green {
	padding: 1rem;
		min-width: 50px;
	min-height: 50px;
	background: seagreen;
	border: 5px solid mediumpurple; 
}
}
}